/* @header-grey: #d8d8d8;
@header-grey-dark: #7f7e7e;
.h1-heading {
  font-size: 3rem;
  padding: 1rem;
  margin: 1rem;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 300;
  font-style: normal;

  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;

  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #555;
}

body {
  font-size: 62.5%;
}

.myNav {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 90px;
}

#home {
  margin-top: 30px;
  margin-bottom: 130px;
  width: 70%;
}

.brand-logo {
  width: 30%;
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.logo {
  max-width: 80%;
}
@media (max-width: 500px) {
  .logo {
    max-width: 100%;
  }
}
section {
  margin: 20px auto;
  width: 80%;
  padding-top: 70px;
}

.box-right {
  background-color: #1c35c6;
  color: white;
  height: 400px;
}
.main-title {
  margin-top: 100px;
  margin-left: 2rem;
}
.sub-title {
  margin-left: 2rem;
}
#work {
  padding-top: 100px;
}
.story-con_subheading {
  margin-bottom: 30px;
}
#story {
  height: 100vh;
  padding-top: 0px;
}
h6,
.whatweare {
  font-size: 1.3rem;
}
.video-container {
  max-width: 70%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

#story {
  height: 130vh;
  padding-top: 40px;
}
.myStory {
  width: 50vw;
  height: 50vw;

  padding: 30px;
  padding-left: 10px;

  margin: 0 auto;
  border: 1px solid black;
}

.myStory-1 {
  background-color: white;
}
.myStory-2 {
  background-color: #1c35c6;
  color: white;
}

.myStory-3 {
  background-color: #ed7c00;
  color: white;
}

@media (max-width: 830px) {
  .myStory h3,
  .myStory h5,
  .myStory h6 {
    font-size: 1.2rem;
  }
}
@media (max-width: 650px) {
  .myStory h3,
  .myStory h5,
  .myStory h6 {
    font-size: 0.8rem;
  }
  .myStory {
    height: 70vw;
  }
}

@media (max-width: 550px) {
  .our-work h3,
  .our-work h4,
  .our-work h5,
  .main-title,
  .sub-title {
    font-size: 1.4rem;
  }
}
@media (max-width: 550px) {
  .whatweare {
    font-size: 1.1rem;
  }
  .myStory {
    height: 80vw;
  }
  .slider {
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .myStory h3,
  .myStory h5,
  .myStory h6,
  .whatweare {
    font-size: 0.7rem;
  }
}
